body{
    background-image: url("../img/fondo.png");
}
table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid rgb(204, 204, 204);
  }
  
  th, td {
    text-align: left;
    padding: 10px;
  }

  .container-shop{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
  }
  .product-list{
    flex: 0 0 calc(40% - 1rem);
    border: 1px solid rgb(204, 204, 204);
    height: 100vh;
    padding: 2rem;
  }
  .image-shop{
      width: 250px;
  }
  .ejemplo{
      display: flex;
  }
  .pay{
    flex: 0 0 calc(30% - 1rem);
    margin-left: 2rem;
  }