<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>R&S TOURS</title>

    <link rel="stylesheet" href="../css/style-shopping.css">
</head>
<body>
    <div class="container">
        <div class="product-list">
            <div class="ejemplo">
                <img class="image" src="../img/punta-baja-tours-2.jpg" alt="punta baja tours">
                <div class="info-product">
                    <ul>
                        <li>Punta Baja Tours</li>
                        <li>Tour para 10 personas</li>
                        <li>$5,000</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="pay">
            <table>
                <tr>
                    <th>Resumen</th>
                </tr>
                <tr>
                    <td>Subtotal</td>
                    <td>$0.00</td>
                </tr>
                <tr>
                    <td>Gastos de envío y gestión estimados</td>
                    <td>$0.00</td>
                </tr>
                <tr>
                    <td><strong>Total</strong></td>
                    <td><strong>$0.00</strong></td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>