<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>R&S TOURS</title>

    <link rel="stylesheet" href="../css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Stylish&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Satisfy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chilanka&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" 
    crossorigin="anonymous"/>
    
</head>
<body>
    <header class="header-container center">
        <div class="logo-container p-1">
            <div class="img-c">
                <img src="../img/logo.png">
            </div>
        </div>
        <div class="nav-container" id="navHeader">
            <nav id="myNav" class="overlay">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <div class="overlay-content">
                    <a href="../index.html" class="nav">Inicio</a>
                    <a href="./tours.html" class="nav">Tours</a>
                    <a href="./contacto.html" class="nav">Contacto</a>
                    <a href="./galeria.html" class="nav">Galeria</a>
                    <a href="./nosotros.html" class="nav">Nosotros</a>
                </div>
              </nav>
              <span class="menu" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
        </div>
    </header>

    <main>
        <div class="center">
            <div class="parallax">
                <h1>CONTÁCTANOS</h1>
        </div>

        <section class="contact-father">
            <div class="contact-container">

                <div class="contact contact-company">
                    <p>Si quieres más información sobre nuestros tours o estás interesado en afiliarte anuestra
                        agencia de viajes a Isla Espíritu Santo, llena nuestro formulario y nos pondremos en contacto
                        contigo lo antes posible.
                    </p>
                    <p>Muchas gracias.</p>

                    <h4>Sede central y oficinas:</h4>
                    <p><i class="fas fa-map-marker-alt">&nbsp</i>Isla Espiritu Santo, Nro. 1250, La Paz, Baja California Sur, México</p>

                    <h4>Teléfono:</h4>
                    <p><i class="fas fa-phone-alt">&nbsp</i>612 5897 4812</p>

                    <h4>Administración:</h4>
                    <p><i class="fas fa-envelope">&nbsp</i>admin@rstours.com</p>

                    <h4>Comunicación y Marketing:</h4>
                    <p><i class="fas fa-envelope">&nbsp</i>marketing@rstours.com</p>
                </div>

                <div class="contact">
                    <form action="">
                        <fieldset> <!--Agrega un cuadro para agrupar formulario uwu-->
                            <legend> Formulario de contacto </legend>
    
                            <label for="nombre">Nombre:</label>
                            <input type="text" id="nombre" placeholder="nombre" required>
    
                            <label for="email">Correo Electrónico:</label>
                            <input type="email" name="email" id="email" placeholder="ejem@algo.com" required>
    
                            <label for="mensaje">Mensaje</label>
                            <textarea id="mensaje"></textarea>
    
                        </fieldset>
                        <input type="submit" value="Enviar" class="btn-submit">
                    </form>
                </div>
            </div>
            
        </section>

        <section class="map-container">
            <h3>Ubicación</h3>
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d116208.571698594!2d-110.41440277680162!3d24.467507411336065!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86b1cd25360a736b%3A0x381a4e15a5655577!2sIsla%20Espirito%20Santo!5e0!3m2!1ses!2smx!4v1602468211732!5m2!1ses!2smx" 
                         frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </section>

        <div class="center parallax">
            <div class="company-info">
                Cual quier duda, comentario o crítica constructiva serán bien recibidos.
            </div>
        </div>

    </main>

    <footer class="footer-container">
        <div class="f-child">
            <a href=""><img src="../img/logo.png" alt=""></a>
        </div>
        <div class="f-child center">
            <p><i class="fad fa-tree-palm"></i>La Pah, Baja California Suuuuuuur!.</i></p>
        </div>
        <div class="r-social f-child">
            <ul class="list-style-none">
                <li>
                    <a href="https://www.facebook.com/" target="_blank" class="fb fab fa-facebook-square"></a>
                </li>
                <li>
                    <a href="https://twitter.com/" target="_blank" class="tw fab fa-twitter-square"></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/" target="_blank" class="ig fab fa-instagram"></a>
                </li>
            </ul>
        </div>
    </footer>
    <script src="../js/main.js"></script>
</body>
</html>