<!DOCTYPE html>
<html>
    <head>
        <title>R&S TOURS</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="../css/styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Stylish&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Satisfy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chilanka&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" 
    crossorigin="anonymous"/>
    </head>
    <body>
        <header class="header-container center">
            <div class="logo-container p-1">
                <div class="img-c">
                    <img src="../img/logo.png" alt="">
                </div>
                <!-- <div class="r-social">
                    <a href="https://www.facebook.com/" target="_blank" class="fb fab fa-facebook-square"></a>
                    <a href="https://twitter.com/" target="_blank" class="tw fab fa-twitter-square"></a>
                </div> -->
            </div>
            <div class="nav-container" id="navHeader">
                <nav>
                    <ul>
                        <li><a href="index.html" class="nav">Inicio</a></li>
                        <li><a href="./views/tours.html" class="nav">Tours</a></li>
                        <li><a href="contacto.html" class="nav">Contacto</a></li>
                        <li><a href="galeria.html" class="nav">Galeria</a></li>
                        <li><a href="nosotros.html" class="nav">Nosotros</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <!-- OFERTAS DE TOURS -->
        <div class="center ours-offers">
            <div class="offers-container">
                <div class="tour tour-1">
                    <div class="tour-content">
                        <div class="titulo-tour-container">                            
                            <h3 class="titulo-tours">Coras Tours</h3>
                        </div>                        
                        <p class="info-tour">Empresa local enfocada en promover los atractivos naturales de la ciudad de La Paz, B.C.S, México</p>
                        <p class="price">$1,500</p>
    
                        <ul class="info-icons">
                            <li>
                                <i class="fas fa-phone-alt">&nbsp</i>
                                <a href="#">(612) 103 1846</a>
                            </li>
                            <li>
                                <i class="fas fa-globe-americas">&nbsp</i>
                                <a href="https://www.corastours.com">www.corastours.com</a>
                            </li>
                            <li>
                                <i class="fas fa-envelope">&nbsp</i>
                                <a >info@corastours.com</a>
                            </li>
                        </ul>
                        <button class="btn-vp"><a href="productos.html" class="backgroud-transparent">Ver más</a></button>
                    </div>
                </div>
                <div class="tour tour-2">
                    <div class="tour-content">
                        <div class="titulo-tour-container">                            
                            <h3 class="titulo-tours">Choya Tours</h3>
                        </div>                        
                        <p class="info-tour">Creamos tours compartidos con la intención de mostrarte los rincones más emblemáticos de Baja California Sur.</p>
                        <p class="price">$1,150</p>
    
                        <ul class="info-icons">
                            <li>
                                <i class="fas fa-phone-alt">&nbsp</i>
                                <a href="#">(612) 223 2478</a>
                            </li>
                            <li>
                                <i class="fas fa-globe-americas">&nbsp</i>
                                <a href="https://www.choyatours.com.mx">www.choyatours.com.mx</a>
                            </li>
                            <li>
                                <i class="fas fa-envelope">&nbsp</i>
                                <a >info@choyatours.com.mx</a>
                            </li>
                        </ul>
                        <button class="btn-vp"><a href="productos.html" class="backgroud-transparent">Ver más</a></button>
                    </div>
                </div>
                <div class="tour tour-3">
                    <div class="tour-content">
                        <div class="titulo-tour-container">                            
                            <h3 class="titulo-tours">Punta Baja Tours</h3>
                        </div>                        
                        <p class="info-tour">Disfruta nadando con cientos de Lobos Marinos en la Isla Espíritu Santo en La Paz, B.C.S, México</p>
                        <p class="price">$1,500</p>
    
                        <ul class="info-icons">
                            <li>
                                <i class="fas fa-phone-alt">&nbsp</i>
                                <a href="#">(612) 15 6 02 91</a>
                            </li>
                            <li>
                                <i class="fas fa-globe-americas">&nbsp</i>
                                <a href="https://www.puntabaja.mx/es">www.puntabaja.mx</a>
                            </li>
                            <li>
                                <i class="fas fa-envelope">&nbsp</i>
                                <a >ventas@puntabaja.mx</a>
                            </li>
                        </ul>
                        <button class="btn-vp"><a href="productos.html" class="backgroud-transparent">Ver más</a></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- FIN CONTENEDOR DE OFERTAS -->
    </body>
</html>