<!DOCTYPE html>
<html>
    <head>
        <title>R&S TOURS</title>
        <link rel="stylesheet" href="../css/styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Stylish&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Satisfy&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Chilanka&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" 
        crossorigin="anonymous"/>
    </head>
    <body>
        <header class="header-container center">
            <div class="logo-container p-1">
                <div class="img-c">
                    <img src="../img/logo.png" alt="">
                </div>
                <!-- <div class="r-social">
                    <a href="https://www.facebook.com/" target="_blank" class="fb fab fa-facebook-square"></a>
                    <a href="https://twitter.com/" target="_blank" class="tw fab fa-twitter-square"></a>
                </div> -->
            </div>
            <div class="nav-container" id="navHeader">
                <nav>
                    <ul>
                        <li><a href="/index.html" class="nav">Inicio</a></li>
                        <li><a href="./views/tours.html" class="nav">Tours</a></li>
                        <li><a href="contacto.html" class="nav">Contacto</a></li>
                        <li><a href="galeria.html" class="nav">Galeria</a></li>
                        <li><a href="nosotros.html" class="nav">Nosotros</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <main>
            <div class="main-tour-container">
                ASHDJKSA
            </div>
        </main>
        <script src="./js/main.js"></script>
    </body>
</html>