<!DOCTYPE html>
<html>
    <head>
        <title>R&S TOURS</title>
        <link rel="stylesheet" href="../css/styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Stylish&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Satisfy&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Chilanka&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" 
        crossorigin="anonymous"/>
    </head>
    <body>
        <header class="header-container center">
            <div class="logo-container p-1">
                <div class="img-c">
                    <img src="../img/logo.png">
                </div>
            </div>
            <div class="nav-container" id="navHeader">
                <nav id="myNav" class="overlay">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="far fa-times-circle"></i></a>
                    <div class="overlay-content">
                        <a href="../index.html" class="nav">Inicio</a>
                        <a href="./tours.html" class="nav">Tours</a>
                        <a href="./contacto.html" class="nav">Contacto</a>
                        <a href="./galeria.html" class="nav">Galeria</a>
                        <a href="./nosotros.html" class="nav">Nosotros</a>
                        <a href="./login.html" class="nav" id="iniciarSesion">Iniciar Sesión</a>
                        <a href="" class="nav hidden" id="cerrarSesion" >Cerrar Sesión</a>
                    </div>
                  </nav>
                  <span class="menu" style="cursor:pointer;" onclick="openNav()"><i class="fas fa-bars"></i></span>
            </div>
        </header>
        <main>
            <div class="main-tour-container">
                <div class="min-tour-container tour-4-v2">
                    <div class="container-tour-details">
                        <div class="container-flex">
                            <div class="tour-title-container">
                                <h3 class="tour-title-text">Tuna Tuna Tours</h3>
                            </div>
                        </div>                        
                        <div class="tour-main-content">
                            <p>
                                Disfrute de una excursión llena de emoción en nuestros cómodos botes a la sombra en esta hermosa isla a solo unas millas de La Paz y experimente el contraste del desierto y el mar.
                            </p>
                            <p>
                                Sorpréndase con sus hermosas playas de arena blanca y aguas cristalinas color turquesa. Practique snorkel con los amigables lobos marinos en Los Islotes y experimente los arrecifes de coral llenos de peces coloridos y vida marina.
                            </p>
                            <p>
                                Pruebe ceviche fresco y cerveza fría en una playa paradisíaca.
                            </p>
                            <button class="btn-take-trip"><a href="./views/tour-2.html" class="backgroud-transparent btn-take-trip-text">Tomar Tour</a></button>
                        </div>
                    </div>                    
                </div>
            </div>
            <div class="more-info mb">
                <h1>Información adicional</h1>
            </div>
            <div class="container-flex release-margin">
                <div class="list-container">
                    <ul class="info-list">
                        <li>
                            Precio: $2,330
                        </li>
                        <li>
                            Comida y bebida
                        </li>
                        <li>
                            Equipo de esnorkel
                        </li>
                        <li>
                            Duración: 7-8 horas aprox
                        </li>
                    </ul>
                </div>
            </div>
            <div class="more-info">
                <h1>Otros tours</h1>
            </div>
            <div class="center ours-offers">
                <div class="offers-container">
                    <div class="tour tour-1">
                        <div class="tour-content">
                            <div class="titulo-tour-container">                            
                                <h3 class="titulo-tours">Coras Tours</h3>
                            </div>                        
                            <p class="info-tour">Empresa local enfocada en promover los atractivos naturales de la ciudad de La Paz, B.C.S, México</p>
                            <p class="price">$1,500</p>
        
                            <ul class="info-icons">
                                <li>
                                    <i class="fas fa-phone-alt">&nbsp</i>
                                    <a href="#">(612) 103 1846</a>
                                </li>
                                <li>
                                    <i class="fas fa-globe-americas">&nbsp</i>
                                    <a href="https://www.corastours.com">www.corastours.com</a>
                                </li>
                                <li>
                                    <i class="fas fa-envelope">&nbsp</i>
                                    <a>info@corastours.com</a>
                                </li>
                            </ul>
                            <button class="btn-vp"><a href="../views/tour-1.html" class="backgroud-transparent">Ver más</a></button>
                        </div>
                    </div>
                    <div class="tour tour-5">
                        <div class="tour-content">
                            <div class="titulo-tour-container">                            
                                <h3 class="titulo-tours">Baja Desconocida Tours</h3>
                            </div>                        
                            <p class="info-tour">Baja Desconocida es una empresa de Turismo para los amantes de la naturaleza</p>
                            <p class="price">$3,000</p>
        
                            <ul class="info-icons">
                                <li>
                                    <i class="fas fa-phone-alt">&nbsp</i>
                                    <a href="#">(612) 166 2856</a>
                                </li>
                                <li>
                                    <i class="fas fa-globe-americas">&nbsp</i>
                                    <a href="http://www.bajades.com/es/">www.bajades.com</a>
                                </li>
                                <li>
                                    <i class="fas fa-envelope">&nbsp</i>
                                    <a>info@bajades.com</a>
                                </li>
                            </ul>
                            <button class="btn-vp"><a href="productos.html" class="backgroud-transparent">Ver más</a></button>
                        </div>
                    </div>
                    <div class="tour tour-6">
                        <div class="tour-content">
                            <div class="titulo-tour-container">                            
                                <h3 class="titulo-tours">Sun Riders Tours</h3>
                            </div>                        
                            <p class="info-tour">Nuestro corazón está aquí y queríamos crear una experiencia para mostrarte la belleza de Los Cabos y La Paz.</p>
                            <p class="price">$2,330</p>
        
                            <ul class="info-icons">
                                <li>
                                    <i class="fas fa-phone-alt">&nbsp</i>
                                    <a href="#">(612) 12 15161</a>
                                </li>
                                <li>
                                    <i class="fas fa-globe-americas">&nbsp</i>
                                    <a href="http://www.sunridertours.com/">www.sunridertours.com/</a>
                                </li>
                                <li>
                                    <i class="fas fa-envelope">&nbsp</i>
                                    <a >info@sunridertours.com</a>
                                </li>
                            </ul>
                            <button class="btn-vp"><a href="productos.html" class="backgroud-transparent">Ver más</a></button>
                        </div>
                    </div>
                </div>
                
            </div>
        </main>
        <footer class="footer-container">
            <div class="f-child">
                <a href=""><img src="../img/logo.png"></a>
            </div>
            <div class="f-child center">
                <p><i class="fad fa-tree-palm"></i>La Pah, Baja California Suuuuuuur!.</i></p>
            </div>
            <div class="r-social f-child">
                <ul class="list-style-none">
                    <li>
                        <a href="https://www.facebook.com/" target="_blank" class="fb fab fa-facebook-square"></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/" target="_blank" class="tw fab fa-twitter-square"></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/" target="_blank" class="ig fab fa-instagram"></a>
                    </li>
                </ul>
            </div>
        </footer>
        <script src="../js/main.js"></script>
    </body>
</html>